<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <appSettings>
      <add key="bankListPath" value="C:\\chequeTest\\BANKLIST.txt"/>
      <add key="bankChqListPath" value="C:\\chequeTest\\BANKCHQ.txt"/>
      <add key="backupPath" value="C:\\chequeTest\\BackUp"/>
      <add key="batchSize" value="149"/>
    </appSettings>

</configuration>
